{{- if .Values.gateway.enabled }}
{{- if not .Values.gateway.existingGatewayName }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: nfl-wallet-gateway
  labels:
    app.kubernetes.io/component: gateway
spec:
  gatewayClassName: {{ .Values.gateway.className | quote }}
  listeners:
    - name: http
      protocol: HTTP
      port: 8080
      allowedRoutes:
        namespaces:
          from: Same
{{- end }}
{{- end }}
