{{- if and .Values.observability.rhobs.enabled .Values.observability.rhobs.uiPlugin.enabled }}
---
# UIPlugin: enable Monitoring UI in OpenShift console. Name must be 'monitoring' when type is Monitoring.
apiVersion: observability.openshift.io/v1alpha1
kind: UIPlugin
metadata:
  name: monitoring
spec:
  type: Monitoring
{{- end }}
