apiVersion: v1
kind: ConfigMap
metadata:
  name: webapp-config
  labels:
    app: webapp
data:
  config.json: {{ dict "apiCustomersUrl" .Values.webapp.apiCustomersUrl "apiBillsUrl" .Values.webapp.apiBillsUrl "apiRaidersUrl" .Values.webapp.apiRaidersUrl | toJson | quote }}
