apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp
    runtime: nodejs
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.webapp.service.port }}
      targetPort: 8080
      protocol: TCP
  selector:
    app: webapp
